<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#calendario">Calendario Eventi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gruppi">Gruppi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#slack">Slack</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Bologna Tech Scene</div>
                <!-- <div class="intro-lead-in">Trova eventi a Bologna e dintorni</div> -->
                <!-- <a href="#calendario" class="page-scroll btn btn-xl">Prossimi Eventi</a> -->
                <a href="https://bolognatechscene.herokuapp.com/" class="page-scroll btn btn-xl">Iscriviti al nostro Slack</a>
            </div>
        </div>
    </header>
