<!-- Portfolio Grid Section -->
<section id="slack" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Iscriviti ai nostri canali su Slack</h2>
                <h3 class="section-subheading text-muted"><a class="btn btn-primary" href="https://bolognatechscene.herokuapp.com/">
                        OTTIENI L'INVITO!
                        <div class="c-slack">
                            <span class="c-slack__dot c-slack__dot--a"></span>
                            <span class="c-slack__dot c-slack__dot--b"></span>
                            <span class="c-slack__dot c-slack__dot--c"></span>
                            <span class="c-slack__dot c-slack__dot--d"></span>
                        </div>
                        </a>
                </h3>
            </div>
        </div>
    </div>
</section>
